src/main/mule/poc_salesforce_mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<!--  <flow name="poc_salesforce_mulesoftFlow" doc:id="14597c43-9dea-435a-88b4-f8852d25cfb9" >
		<salesforce:replay-channel-listener doc:name="Replay channel listener" doc:id="1121e2b8-2201-4966-bdbe-79b83cf7bd01" config-ref="Salesforce_Config" streamingChannel="/data/ContactChangeEvent" replayOption="ONLY_NEW"/>
		<logger level="INFO" doc:name="Logger" doc:id="1f34e22e-0ec6-40c8-9990-fcc522864285" message="#[%dw 2.0&#10;output application/json&#10;-&#45;&#45;&#10;payload.data.payload]"/>
		<set-variable value="#[payload.data.payload.ChangeEventHeader.recordIds[0]]" doc:name="Set Salesforce Record Id" doc:id="4911fb35-493f-446e-9d89-fadedf121c24" variableName="sfdc_id"/>
		<set-variable value="#[payload.data.payload.Name.LastName]" doc:name="Set Last Name" doc:id="3bbce86f-7f41-4b6a-8e3d-96b4893a3be0" variableName="last_name"/>
		<set-variable value="#[payload.data.payload.ChangeEventHeader.changeType]" doc:name="Set Change Type" doc:id="bd850dbd-5317-4fbc-9a1b-ce1158ad7ad2" variableName="change_type"/>
		<choice doc:name="Is Change a Create ?" doc:id="fa425dfd-0310-41d6-aef3-e62277d7a1a9" >
			<when expression="#[vars.change_type == 'CREATE']">
				<db:insert doc:name="Insert" doc:id="8013f3ae-dee8-4536-b2b4-18ec1c01a605">
					<db:sql ><![CDATA[INSERT into `client` (id, nom_client,prenom_client, 
adresse_client, telephone_client,Carte Fidelite) 
VALUES 
(:sfdc_id, ':last_name','AbdouLahat','Adresse','77235667',5)]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	sfdc_id: vars.sfdc_id,
	last_name: vars.last_name
}]]]></db:input-parameters>
				</db:insert>
			</when>
		</choice>
	</flow>
	 -->
	 
	<flow name="poc_salesforce_mulesoftFlow2" doc:id="233c1fe8-7c84-49ed-9b08-b4d3fa7a05a7" >
		<scheduler doc:name="Scheduler" doc:id="be8169b3-1e6e-4636-b7c4-8b16bb7919f3">
			<scheduling-strategy>
				<fixed-frequency frequency="3" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="34bf52e1-724e-4be9-a197-d70f667c0a8f" key="maxDate" target="maxDate">
			<os:default-value ><![CDATA["2023-03-08T13:06:28"]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select" doc:id="a0a1a0ec-3e4a-4fee-bd85-03c47b7f341b" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM commande WHERE date_update > :maxDate]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	maxDate: vars.maxDate
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[sizeOf(payload)]" doc:name="sizeOf(payload)" doc:id="0b4bb0ca-b769-4356-8a39-e1f028ddff4c" variableName="size"/>
		<logger level="INFO" doc:name="log_max_date" doc:id="e0189f3f-eb09-4c34-9505-0d8887dbdb83" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: "********** Payload *********",&#10;	max_date: vars.maxDate,&#10;	size: vars.size,&#10;	payload: payload,&#10;	log1: "********** Payload *********"&#10;}]' />
		<choice doc:name="Choice" doc:id="6a23138d-a33d-44bd-90a7-d068579eca84" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="Store" doc:id="45a1edca-72e6-4bf9-a3a0-fefbab4698fc" key="maxDate">
			<os:value><![CDATA[#[//"2023-03-21 08:44:12" 
// as String {format: "yyyy-MM-dd'T'HH:mm:ss"} as DateTime
//max(payload.*date_update as String {format: "yyyy-MM-dd'T'HH:mm:ss"} as DateTime)
//((payload orderBy ($.date_update as String {format: "yyyy-MM-dd'T'HH:mm:ss"} as DateTime))[-1]).date_update as Date
//((payload orderBy ($.date_update as Date {format: "yyyy-MM-dd"}))[-1])

//Essaye
//max(payload.*date_update)

//max(payload map $.id)
//max(payload.*id)
max(payload.*date_update)
//((payload orderBy ($.id))[-1]).id
//((payload orderBy ($.date_update ))[-1]).date_update]]]></os:value>
		</os:store>
				<logger level="INFO" doc:name="Insert / update : data" doc:id="6628d456-d610-4522-8118-c9087fd95275" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: "********** Insert / update : data *********",&#10;    Taille:  sizeOf(payload),&#10;	payload: payload,&#10;	log1: "********** Payload *********"&#10;}]'/>
				<logger level="INFO" doc:name="Tous les ids clients" doc:id="ce13df30-9f4c-44ad-8c00-6edbc27cc36d" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: &quot;********** Tous les ids clients *********&quot;,&#10;    'client': &quot;'&quot; ++ (payload.client joinBy (&quot;', '&quot;)) ++ &quot;'&quot;,&#10;	log1: &quot;********** Tous les ids clients *********&quot;&#10;}]"/>
				<set-variable value="#[payload]" doc:name="payload_initial" doc:id="b6efbc66-6f59-4e82-a86f-afe0cba801cc" variableName="payload_initial" />
				<flow-ref doc:name="Flow Reference" doc:id="879a3ee9-502c-49bc-8d7f-fa02aa1f5ecc" name="get_all_accounts_ids"/>
				<logger level="INFO" doc:name="query_results" doc:id="869fa436-5657-4c5b-91d1-a81711e4ca3f" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: "********** query results *********",&#10;    Taille:  sizeOf(payload),&#10;	payload: payload,&#10;	log1: "********** query results *********"&#10;}]'/>
				<salesforce:create-job-bulk-api-v2 doc:name="Create job bulk api v 2" doc:id="4a3b1be7-3115-45af-a6d2-d2bbb3ec57c1" config-ref="Salesforce_Config" objectType="Order" operation="upsert" externalIdFieldName="ExternalId__c" lineEnding="CRLF"/>
				<logger level="INFO" doc:name="account_ids" doc:id="7ec7484f-b32a-49ec-aa0c-8e6be341aa72" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: "********** accounts ids *********",&#10;    Taille:  sizeOf(payload),&#10;	payload: payload,&#10;	log1: "********** accounts ids *********"&#10;}]'/>
				<salesforce:get-job-state-bulk-api-v2 doc:name="Get job state bulk api v 2" doc:id="8ecf44bd-3bc6-41cb-b660-bc23e19bfff6" config-ref="Salesforce_Config" id="#[payload.id[0 to 14] as String]"/>
				<logger level="INFO" doc:name="status_job" doc:id="4803df9e-2193-4b38-b7e8-7d88e354368f" message="#[output application/json&#10;---&#10;{&#10;	log: '************ Status Job *************',&#10;	payload: payload,&#10;	log: '************ Status Job *************'	&#10;	&#10;}]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="no data" doc:id="9ccbab3a-a787-4d08-b782-63b11d9a6de8" message="No data"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="get_all_accounts_ids" doc:id="ea2ed2c4-6e85-45a6-9628-f43426c7167b" >
		<logger level="INFO" doc:name="log_flow_reference" doc:id="f2702729-2bae-4e39-b97b-fd318efec764" message='#[output application/json&#10;---&#10;{&#10;	log: "********** log flow ref *********",&#10;	payload: payload,&#10;	log1: "********** log flow ref *********"&#10;}]' />
		<set-variable value="#[%dw 2.0 &#10; output application/json&#10;--- &#10;payload]" doc:name="all_commands" doc:id="a7103807-aa2b-4cda-a221-fecfe90ffcc9" variableName="all_commands" />
		<salesforce:query doc:name="Query" doc:id="454134e4-d73c-4b9f-8c11-abb578dab867" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select id, ExternalId__c from Account  where ExternalId__c IN (:client)]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[{
	'client': "'" ++ (payload.client joinBy ("', '")) ++ "'"
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="query_results" doc:id="a1e05a69-a8c2-47c8-895d-cde8c909b44e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: "********** query results *********",&#10;    Taille:  sizeOf(payload),&#10;	payload: payload,&#10;	log1: "********** query results *********"&#10;}]' />
		<ee:transform doc:name="Transform Message" doc:id="3bd0d60f-61cc-4bff-a4ef-d1915f0a444a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true

var output2 = payload map ((value, key) -> {
    (value.ExternalId__c): value.Id
})
---
vars.payload_initial map ((item, index) -> {
		"ExternalId__c": item.id as String,
		"AccountId": output2[item.client][0],
		"EffectiveDate": item."Date de debut de la commande",
		"Name": item.Name,
		"Type": item.Type,
		"Status": item.Status,
		"EndDate": item."Date de fin de la commande"
	
})

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Toutes les commandes" doc:id="8d7822b9-33aa-4eaf-8c4c-cebc14f136f7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	log: &quot;********** Tous les commandes *********&quot;,&#10;    'payload' : vars.all_commands,&#10;	log1: &quot;********** Tous les commandes *********&quot;&#10;}]" />
	</sub-flow>
	<os:object-store name="watermarkStore" persistent="true"/>
</mule>
